<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="icon" href="/img/PrimalLogoPro.png"> --}}
    <title>EduTracker - Gestor de Calificaciones</title>
    {{!-- fontawesome --}}
    <script src="https://kit.fontawesome.com/26b28607c6.js" crossorigin="anonymous"></script>
    {{!-- styles --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    {{> navigation}}

    {{> messages}}

    {{{ body }}}

    {{!-- {{> footer}} --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>